<!-- ****** Footer Area Start ****** -->
<footer class="footer_area">
	<div class="container">
		<div class="row">
		
		<!-- Single Footer Area Start -->
			<div class="single_footer_area">
				<ul class="footer_widget_menu">
					<li><a href="#">네이븜 이용약관</a></li> |
					<li><a href="#">네이븜페이 이용약관</a></li> |
					<li><a href="#">개인정보 처리방침</a></li> |
					<li><a href="#">법적고지 및 주의사항</a></li> |
					<li><a href="#">쇼핑윈도 노출안내</a></li>
				</ul>
			</div>
		<!-- Single Footer Area Start -->
		<div class="single_footer_area">
			<ul class="footer_widget_menu">
				<li><a href="#">My Account</a></li> |
				<li><a href="#">안전거래센터</a></li> |
				<li><a href="#">1:1 문의 바로가기</a></li> |
				<li><a href="#">도움말</a></li>
			</ul>
		</div>

		<!-- Single Footer Area Start -->
		<div class="single_footer_area" style="text-align: center;">
			<div class="footer_heading mb-30">
				<h6>더 많은 혜택을 전달하는 뉴스레터를 구독하신다면!</h6>
			</div>
			<div class="subscribtion_form">
				<input type="email" name="mail" class="mail" placeholder="메일 주소 입력">
				<script>
					function success(){
						swal({
							title: "구독 성공",
							text: "뉴스레터 구독 감사합니다 :)",
							icon: "success",
							button: "확인",
						});
					}
				</script>
				<button type="button" onclick="success()">구독</button>
			</div>
		</div>

		<!-- Single Footer Area Start -->
			<div class="single_footer_area">
				<div class="copywrite_text" style="text-align:center;">
					<p>Copyright &#169; <script>document.write(new Date().getFullYear());</script>
						All rights reserved | Made with by HaKyung JO & DoGyun KIM
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- ****** Footer Area End ****** -->