<header>
    <section class = "co_header_fix">
		<section class="header_top">
			<div class="header_top_left">
				<a href="http://www.naver.com" class="co_naver N=a:naver" title="차세대 경쟁력, 네이븜">NAVum</a>
				<span>|</span>
				<a href="https://order.pay.naver.com/home?frm=s_logo" class="co_npay _naver_pay N=a:naverpay" title="네이븜 아이디로 간편구매, 네이븜페이">네이븜페이</a>
			</div>
			<div class="header_top_right">
				<button href="../login/login.html" class="login_button" onclick=>도균+하경님</button>
			</div>
		</section>
		<section class="test_nav">
			<div class="logo">NAVum 쇼핑라이브</div>
			<div class="search">
				<input type="text" title="검색" class="search_input" placeholder="원하는 상품을 검색하세요!">
				<button type="button" class="search_button">검색</button>
			</div>
			<div class="gnb">
				<a href="">BEST10</a>
			</div>
			<div class="gnb2">
				<a href="#">쇼핑MY
					<span class="blind">펼치기</span>
				</a>
			</div>
		</section>
	</section>

	<section>
	</section>




<div class="co_my" id="_myPageWrapper">
	<!-- 스위치로 펼치기/접기 -->
	<a href="#" class="co_my_btn">쇼핑MY
		<span class="blind">펼치기</span>
	</a>
	<div class="co_ly_mypage">
		<iframe width="100%" src="about:blank" frameborder="0" title="버그픽스용" class="bug_fix">
			#document
			<html>
				<head></head>
				<body></body>
				</html>
		</iframe>
		<div class="co_bg_top"></div>
		<div class="co_bg_bottom"></div>
		<div class="co_bg_cont">
			<ul class="co_cont_list">
				<li>
					<a href="https://shopping.naver.com/my/p/home.nhn" class="N=a:SNB*m.home">
						MY 홈
					</a><!--N=a:SNB*m.home-->
				</li>
				<li>
					<a href="https://shopping.naver.com/my/writable-reviews" class="N=a:SNB*m.review">상품 리뷰
					</a><!--N=a:SNB*m.review-->
				</li>
			</ul>
			<ul class="co_cont_list">
				<li>
					<a href="https://shopping.naver.com/cart" class="N=a:SNB*m.cart">
						장바구니
					</a><!--N=a:SNB*m.cart-->
				</li>
				<li>
					<a href="http://order.pay.naver.com/home?tabMenu=SHOPPING" class="N=a:SNB*m.order">
						주문확인/배송조회
					</a><!--N=a:SNB*m.order-->
				</li>
			</ul>
		</div>
	</div>
</div>
</section>

<section>
<!-- lnb -->
<div id="lnb" class="nav_category">
	<div id="lnb_bar" class="co_lnb">
		<h2 class="blind">메인 메뉴</h2>
		<!-- [D] 좌우버튼 노출시 class="g_rolling" 추가 -->
		<hr class="section_divider">
		<div class="cate_menu">
			<ul>
				<span><strong>홈</strong></span>
			</ul>
			<ul>
				<span><strong>백화점윈도</strong></span>
			</ul>
			<ul>
				<span><strong>아울렛윈도</strong></span>
			</ul>
			<ul>
				<span><strong>스타일윈도</strong></span>
			</ul>
		</div>
		<!-- <a href="#" class="g_view_info2 N=a:LNB.guide _click[homeBase.popGuideShow();return false;]">이용안내 보기</a>N=a:LNB.guide -->
	</div>
	<hr class="section_divider">
	<span class="g_lnb_mask"></span>
</div>
</section>

</header>